In [1]:
import pandas as pd
import numpy as np
#pokemon = pd.read_csv (r'C:\Users\tusha\dataV2-labs\module-1\Dataframe-Calculations\Pokemon.csv')

rawdata1 = pd.read_csv (r'C:\Users\tusha\Project2--Amsterdam-Data-Anlytics\translated files\offered household waste.csv')
rawdata1 = pd.DataFrame(rawdata1)

In [2]:
rawdata1.head(59)

,Areas,Perioden,Separation percentage of total household waste [Percentage],Total household waste presented [Kilos per inhabitant]
0,Aalsmeer,2012,60.00%,536
1,Aalsmeer,2013,60.00%,512
2,Aalsmeer,2014,59.00%,488
3,Aalsmeer,2015,59.00%,495
4,Almere,2012,50.00%,501
5,Almere,2013,52.00%,472
6,Almere,2014,56.00%,480
7,Almere,2015,56.00%,464
8,Amstelveen,2012,46.00%,457
9,Amstelveen,2013,47.00%,445
10,Amstelveen,2014,48.00%,448
11,Amstelveen,2015,48.00%,434
12,Amsterdam,2012,13.00%,433
13,Amsterdam,2013,16.00%,423
14,Amsterdam,2014,17.00%,427
15,Amsterdam,2015,19.00%,399
16,Beemster,2012,54.00%,545
17,Beemster,2013,47.00%,469
18,Beemster,2014,51.00%,472
19,Beemster,2015,47.00%,443
20,Beverwijk,2012,32.00%,511
21,Beverwijk,2013,32.00%,495
22,Beverwijk,2014,33.00%,488
23,Beverwijk,2015,39.00%,531
24,Blaricum,2012,55.00%,533
25,Blaricum,2013,55.00%,512
26,Blaricum,2014,55.00%,518
27,Blaricum,2015,54.00%,506
28,Bloemendaal,2012,52.00%,557
29,Bloemendaal,2013,53.00%,543
30,Bloemendaal,2014,58.00%,553
31,Bloemendaal,2015,57.00%,549
32,Castricum,2012,59.00%,548
33,Castricum,2013,57.00%,529
34,Castricum,2014,58.00%,535
35,Castricum,2015,61.00%,540
36,Diemen,2012,29.00%,443
37,Diemen,2013,32.00%,417
38,Diemen,2014,33.00%,420
39,Diemen,2015,?,?
40,Edam-Volendam,2012,57.00%,637
41,Edam-Volendam,2013,57.00%,643
42,Edam-Volendam,2014,56.00%,637
43,Edam-Volendam,2015,55.00%,640
44,Gooise Meren,2012,55.00%,533
45,Gooise Meren,2013,55.00%,512
46,Gooise Meren,2014,55.00%,518
47,Gooise Meren,2015,54.00%,506
48,Haarlem,2012,33.00%,469
49,Haarlem,2013,31.00%,447
50,Haarlem,2014,30.00%,441
51,Haarlem,2015,32.00%,437
52,Haarlemmerliede c.a.,2012,32.00%,502
53,Haarlemmerliede c.a.,2013,36.00%,521
54,Haarlemmerliede c.a.,2014,34.00%,519
55,Haarlemmerliede c.a.,2015,37.00%,522
56,Haarlemmermeer,2012,52.00%,492
57,Haarlemmermeer,2013,52.00%,479
58,Haarlemmermeer,2014,51.00%,467

In [3]:
rawdata1.columns

Index(['Areas', 'Perioden',
       'Separation percentage of total household waste [Percentage]',
       'Total household waste presented [Kilos per inhabitant]'],
      dtype='object')

In [4]:
#data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)
#null_displ = data[(data['displ'].isnull()==True)]
# null_seperation = rawdata1[(rawdata1['Separation percentage of total household waste [Percentage]'].isnull()==True)]
# null_seperation.head()

In [5]:
rawdata1['separation percentage'] = rawdata1['Separation percentage of total household waste [Percentage]']
#Total household waste presented [Kilos per inhabitant]

rawdata1['Total waste kilo per inhabb'] = rawdata1['Total household waste presented [Kilos per inhabitant]']
rawdata1.head()

,Areas,Perioden,Separation percentage of total household waste [Percentage],Total household waste presented [Kilos per inhabitant],separation percentage,Total waste kilo per inhabb
0,Aalsmeer,2012,60.00%,536,60.00%,536
1,Aalsmeer,2013,60.00%,512,60.00%,512
2,Aalsmeer,2014,59.00%,488,59.00%,488
3,Aalsmeer,2015,59.00%,495,59.00%,495
4,Almere,2012,50.00%,501,50.00%,501

In [6]:
#rawdata1['result_amsterdam'] = np.where((rawdata1['Areas']== "Amsterdam"))

In [7]:
filtered = rawdata1[(rawdata1["Areas"]=='Amsterdam')]
filtered.head()

,Areas,Perioden,Separation percentage of total household waste [Percentage],Total household waste presented [Kilos per inhabitant],separation percentage,Total waste kilo per inhabb
12,Amsterdam,2012,13.00%,433,13.00%,433
13,Amsterdam,2013,16.00%,423,16.00%,423
14,Amsterdam,2014,17.00%,427,17.00%,427
15,Amsterdam,2015,19.00%,399,19.00%,399

In [9]:
rawdata1.rename(columns={'Areas': 'Area', 'Perioden': 'Year'})

,Area,Year,Separation percentage of total household waste [Percentage],Total household waste presented [Kilos per inhabitant]
0,Aalsmeer,2012,60.00%,536
1,Aalsmeer,2013,60.00%,512
2,Aalsmeer,2014,59.00%,488
3,Aalsmeer,2015,59.00%,495
4,Almere,2012,50.00%,501
...,...,...,...,...
131,Zaanstad,2015,40.00%,465
132,Zandvoort,2012,34.00%,533
133,Zandvoort,2013,31.00%,490
134,Zandvoort,2014,32.00%,505
135,Zandvoort,2015,35.00%,470